@charset "UTF-8";
/*Polices utilisées*/
h1 {
  font-family: "Shrikhand", cursive;
}

h2, h3, p {
  font-family: "Roboto Condense", sans-serif;
}

/*Mise en forme générale*/
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 375px;
  height: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  position: relative;
  top: 0;
  left: 0;
}

h1 {
  font-size: 24px;
  font-weight: 800;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 15px;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: black;
}

/*Création du loader*/
.chargement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: chargement 10s;
  animation: chargement 10s;
  z-index: 3;
  visibility: hidden;
}

.chargement-icon {
  height: 100px;
  width: 100px;
  position: fixed;
  -webkit-animation: spinner 3s ease-in 3;
  animation: spinner 3s ease-in 3;
  color: #FF79DA;
  padding: 0 0 150px 30px;
  text-align: center;
  font-size: 100px;
  opacity: 0;
}

.chargement-texte {
  height: 20px;
  width: 100px;
  -webkit-animation: chargement-texte 6s linear;
  animation: chargement-texte 6s linear;
  color: #9356DC;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 5px 5px 4px #c9c6c6;
  opacity: 0;
}

/*Animation du loader*/
@-webkit-keyframes chargement {
  0% {
    visibility: visible;
    background: #c9c6c6;
  }
  50% {
    visibility: hidden;
    background: #e2e0e0;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes chargement {
  0% {
    visibility: visible;
    background: #c9c6c6;
  }
  50% {
    visibility: hidden;
    background: #e2e0e0;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes spinner {
  0% {
    display: none;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    display: none;
  }
}

@keyframes spinner {
  0% {
    display: none;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    display: none;
  }
}

@-webkit-keyframes chargement-texte {
  0% {
    display: none;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes chargement-texte {
  0% {
    display: none;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*Chargement page menu*/
@-webkit-keyframes article {
  0% {
    visibility: hidden;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  25% {
    visibility: visible;
    -webkit-transform: translateY(75%);
            transform: translateY(75%);
  }
  50% {
    visibility: visible;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  75% {
    visibility: visible;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  100% {
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes article {
  0% {
    visibility: hidden;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  25% {
    visibility: visible;
    -webkit-transform: translateY(75%);
            transform: translateY(75%);
  }
  50% {
    visibility: visible;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  75% {
    visibility: visible;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  100% {
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes footer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes footer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button {
  height: 50px;
  width: 220px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px 30px 30px 30px;
  -webkit-box-shadow: 5px 5px 10px #e2e0e0;
          box-shadow: 5px 5px 10px #e2e0e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffdff6), to(#c9abee));
  background: linear-gradient(#ffdff6, #c9abee);
  -webkit-box-shadow: 10px 10px 20px #c9c6c6;
          box-shadow: 10px 10px 20px #c9c6c6;
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffdff6), to(#c9abee));
  background: linear-gradient(#ffdff6, #c9abee);
  -webkit-box-shadow: 10px 10px 20px #c9c6c6;
          box-shadow: 10px 10px 20px #c9c6c6;
  outline-style: none;
}

.coeur :nth-child(2) {
  display: none;
}

.coeur:hover :nth-child(1) {
  display: none;
}

.coeur:hover :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coeur:hover .fas.fa-heart {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
}

.coeur:active :nth-child(1) {
  display: none;
}

.coeur:active :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coeur:active .fas.fa-heart {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.logo img {
  height: 30px;
  width: 165px;
}

/*footer*/
footer {
  max-height: 200px;
  background-color: #353535;
  color: white;
  padding: 25px 0 20px 25px;
}

footer img {
  height: 20px;
  width: 100px;
  padding-bottom: 20px;
}

footer p {
  margin: 0;
  padding: 0 0 10px 0;
  font-weight: bold;
}

footer i {
  padding-right: 10px;
  height: 15px;
  width: 15px;
  line-height: 15px;
}

footer a {
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto Condense", sans-serif;
}

/*page d'accueil*/
/*header*/
.accueil-header {
  height: 400px;
}

.header-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 5px 5px inset #dcdcdc;
          box-shadow: 0 5px 5px inset #dcdcdc;
  padding-left: 105px;
}

.header-input i {
  height: 15px;
}

#ville {
  width: 150px;
  background-color: #eaeaea;
  color: black;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 285px;
  background-color: #f6f6f6;
}

.header-text h1 {
  width: 250px;
  margin-top: 0;
}

.header-text p {
  margin-top: 0;
}

/*nav*/
.accueil-nav {
  height: 400px;
  margin: 50px 0 0 0;
}

.accueil-nav h2 {
  padding-left: 20px;
}

.nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 335px;
  margin: 35px 0 30px 0;
  padding-left: 20px;
}

.nav-button p {
  height: 25px;
  width: 25px;
  line-height: 25px;
  font-size: 12px;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  text-align: center;
  margin-right: -10px;
  z-index: 0;
}

.nav-button button {
  height: 75px;
  width: 330px;
  font-size: 15px;
  font-weight: bold;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 0px 10px #e2e0e0;
          box-shadow: 0px 0px 10px #e2e0e0;
  border-radius: 20px 20px 20px 20px;
  border: none;
  cursor: pointer;
  outline-style: none;
}

.nav-button button i {
  padding: 0 30px 0 0;
  height: 15px;
}

.nav-button button:hover {
  background-color: #f5edff;
}

.nav-button button:hover i {
  color: #9356DC;
}

.nav-button button:active {
  background-color: #f5edff;
  outline-style: none;
}

.nav-button button:active i {
  color: #9356DC;
}

/*section*/
.accueil-section {
  height: 1225px;
  background-color: #f6f6f6;
  padding: 0 20px 0 20px;
}

.accueil-section h2 {
  padding-top: 60px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  width: 330px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 20px;
}

.menu figure {
  height: 175px;
  width: 330px;
  margin: 0;
}

.menu figure p {
  line-height: 30px;
  width: 80px;
  text-align: center;
  border-radius: 2px 2px 2px 2px;
  background-color: #99E2D0;
  color: #30a387;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: 235px;
  bottom: 180px;
  z-index: 2;
}

.menu img {
  max-height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: 1;
}

.menu-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 330px;
}

.menu-texte :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 88%;
      flex-basis: 88%;
}

.menu-texte :nth-child(1) p {
  margin: 0;
  padding: 0 0 5px 15px;
}

.menu-texte :nth-child(2) {
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
}

.menu-texte :nth-child(2) i {
  height: 20px;
  width: 20px;
  line-height: 20px;
}

/*page menu*/
.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  padding-left: 20px;
}

.menu-nav i {
  height: 20px;
  width: 20px;
  line-height: 20px;
}

.menu-nav img {
  margin-left: 65px;
}

.menu-header {
  height: 260px;
}

.menu-photo {
  height: 255px;
  width: 375px;
  margin: 0;
}

.menu-photo img {
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.menu-1-section {
  height: 1090px;
  position: absolute;
  top: 280px;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0;
  padding: 30px 13px 30px 13px;
  z-index: 1;
}

.menu-2-section {
  height: 1200px;
  position: absolute;
  top: 280px;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  padding: 40px 13px 0 13px;
  z-index: 1;
}

.menu-3-section {
  height: 1090px;
  position: absolute;
  top: 280px;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0;
  padding: 40px 13px 30px 13px;
  z-index: 1;
}

.menu-4-section {
  height: 1090px;
  position: absolute;
  top: 280px;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0;
  padding: 40px 13px 20px 13px;
  z-index: 1;
}

.menu-section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding-bottom: 20px;
}

.menu-section-title h1 {
  width: 300px;
  font-style: italic;
  font-weight: 1000;
  margin: 0;
}

.menu-section-title i {
  height: 25px;
  width: 25px;
  font-size: 25px;
  font-weight: 100;
  padding-right: 25px;
}

.article-1 {
  -webkit-animation: article 3s linear;
  animation: article 3s linear;
}

.article-2 {
  -webkit-animation: article 4s linear;
  animation: article 4s linear;
}

.article-3 {
  -webkit-animation: article 5s linear;
  animation: article 5s linear;
}

.menu-article {
  margin: 10px 0 25px 0;
}

.menu-article h2 {
  height: 20px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
  padding-left: 5px;
}

.souligne {
  width: 45px;
  border-top: 3px solid #99E2D0;
  margin-left: 5px;
}

.menu-article-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 320px;
}

.menu-article-prix p {
  margin: 10px 0 10px 0;
}

.menu-article-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 320px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  margin-top: 15px;
  padding: 15px;
  cursor: pointer;
}

.menu-article-texte h3 {
  margin: 10px 0 0 0;
}

.menu-article-texte .check {
  width: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.menu-article-texte .check i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.menu-article-texte:hover {
  padding-right: 0;
  width: 335px;
}

.menu-article-texte:hover h3 {
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
}

.menu-article-texte:hover .menu-article-prix {
  width: 240px;
  padding: 0px;
}

.menu-article-texte:hover .menu-article-prix p {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 15px;
}

.menu-article-texte:hover .overflow {
  text-overflow: ellipsis;
}

.menu-article-texte:hover .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 60px;
  background-color: #99E2D0;
  border: 0;
  border-radius: 0 20px 20px 0;
  margin: 0;
  padding: 0;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  outline-style: none;
}

.menu-article-texte:hover .check i {
  height: 20px;
  line-height: 20px;
  width: 20px;
  border-radius: 100%;
  font-size: 12px;
  color: #99E2D0;
  text-align: center;
  background-color: white;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  cursor: pointer;
}

.menu-article-texte:active .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 60px;
  background-color: #99E2D0;
  border: 0;
  border-radius: 0 20px 20px 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  outline-style: none;
}

.menu-article-texte:active .check i {
  height: 20px;
  line-height: 20px;
  width: 20px;
  border-radius: 100%;
  font-size: 12px;
  color: #99E2D0;
  text-align: center;
  background-color: white;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0 70px 0;
  -webkit-animation: button-menu 9s ease-in;
  animation: button-menu 9s ease-in;
}

.menu-1-footer {
  position: relative;
  top: 1110px;
  z-index: 2;
}

.menu-2-footer {
  position: relative;
  top: 1195px;
  z-index: 2;
}

.menu-3-footer {
  position: relative;
  top: 1110px;
  z-index: 2;
}

.menu-4-footer {
  position: relative;
  top: 1100px;
}
/*# sourceMappingURL=styles.css.map */