//utils
    //variables
    @import"./utils/variables";

    //functions
    @import"./utils/functions";

    //mixins
    @import"./utils/mixins";

//base
    //polices
    @import"./base/polices";

    //normes
    @import"./base/normes";

//composants
    //buttons
    @import"./composants/buttons";

//layout
    //header
    @import"./layout/header";
    
    //footer
    @import"./layout/footer";

//pages
    //page d'accueil
    @import"./pages/page_accueil";

    //page menu
    @import"./pages/page_menu";

