/*footer*/
footer{
    max-height: 200px;
    background-color: #353535;
    color: white;
    padding: 25px 0 20px 25px;
    img{
        height: 20px;
        width: 100px;
        padding-bottom: 20px;
    }
    p{
        margin: 0;
        padding: 0 0 10px 0;
        font-weight: bold;
    }
    i{
        padding-right: 10px;
        height: 15px;
        width: 15px;
        line-height: 15px;        
    }
    a{
        color: white;
    }
}