$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$logo: 'Shrikhand', cursive;
$titre: 'Shrikhand', cursive;
$texte: 'Roboto Condense', sans-serif;
$size_h1: 24px;
$size_h2: 22px;
$size_h3: 18px;
$size_p: 16px;