$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$logo: shrikhand,sans-serif;
$titre: shrikhand,sans-serif;
$texte: roboto, sans-serif;
$size_h1: 24px;
$size_h2: 22px;
$size_h3: 20px;
$size_p: 18px;