/*Mise en forme générale*/
body{
    max-width: 375px;
    
    margin: 0 auto;
    box-sizing: border-box;
    color: black;
}
h1{
    font-size: $size_h1;
    font-weight: 800;
}
h2{
    font-size: $size_h2;
    font-weight: bold;
}
h3{
    font-size: $size_h3;
}
p{
    font-size: $size_p;
    font-weight: lighter;
}
a{
    text-decoration: none;
    color: black;
}