/*Mise en forme générale*/
body{
    max-width: 375px;
    margin: 0 auto;
    box-sizing: border-box;
    color: black;
}
h1{
    font-size: $size_h1;
    font-weight: 750;
}
h2{
    font-size: $size_h2;
    font-weight: 900;
}
h3{
    font-size: $size_h3;
}
p{
    font-size: $size_p;
}