/*Mise en forme générale*/
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    color: black;
    position: relative;
    top: 0;
    left: 0;
}
header{
    width: 100%;
}
.accueil-nav{
    max-width: 375px;
}
nav{
    width: 100%;
}
section{
    width: 100%;
}
h1{
    font-size: $size_h1;
    font-weight: 800;
}
h2{
    font-size: $size_h2;
    font-weight: bold;
}
h3{
    font-size: $size_h3;
}
p{
    font-size: $size_p;
    font-weight: lighter;
}
a{
    text-decoration: none;
    color: black;
}