/*page d'accueil*/
/*header*/
.accueil-header{
    height: 400px;
}
.header-input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: #eaeaea;
    box-shadow: 0 5px 5px inset #dcdcdc;
    padding-left: 105px;
    i{
    height: 15px;
    }
}
#ville{
    width: 150px;
    background-color: #eaeaea;
    color: black;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 285px;
    background-color: #f6f6f6;
    h1{
    width: 250px;
    margin-top: 0;
    }
    p{
        margin-top: 0;
    }    
}
/*nav*/
.accueil-nav{
    height: 400px;
    margin: 50px 0 0 0;
    h2{
        padding-left: 20px;
    }
}
.nav-button{
    display: flex;
    flex-flow: row nowrap; 
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 335px;
    margin: 35px 0 30px 0;
    padding-left: 20px;
    p{
        height: 25px;
        width: 25px;
        line-height: 25px;
        font-size: 12px;
        border-radius: 100%;
        background-color: $primaire;
        color: white;
        text-align: center;
        margin-right: -10px;
        z-index: 0;        
    }
    button{
        height: 75px;
        width: 330px;
        font-size: 15px;
        font-weight: bold;
        background-color: #f6f6f6;
        box-shadow: 0px 0px 10px #e2e0e0;
        border-radius: 20px 20px 20px 20px;
        border: none;
        cursor: pointer;
        outline-style: none;
        i{
            padding: 0 30px 0 0;
            height: 15px;
        }
        &:hover{
            background-color: #f5edff;
            i{
                color: $primaire;
            }
        }
        &:active{
            background-color: #f5edff;
            outline-style: none;
            i{
                color: $primaire;
            }
        }
    }
}
/*section*/
.accueil-section{
    height: 1225px;
    background-color: #f6f6f6;
    padding: 0 20px 0 20px;
    h2{
        padding-top: 60px;
    }
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 330px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
    figure{
        height: 175px;
        width: 330px;
        margin: 0;
        p{
            line-height: 30px;
            width: 80px;
            text-align: center;
            border-radius: 2px 2px 2px 2px;
            background-color: $tertiaire;
            color: #30a387;
            font-size: 14px;
            font-weight: bold;    
            position: relative;
            left: 235px;
            bottom: 180px;            
            z-index: 2;
        }
    }
    img{
        max-height: 100%;
        width: 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        overflow: hidden;
        z-index: 1;
    }
}        
.menu-texte{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    width: 330px;
    
    :nth-child(1){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-basis: 88%;
        p{
            margin: 0;
            padding: 0 0 5px 15px;
        }
    }
    :nth-child(2){
        flex-basis: 12%;
        i{
            height: 20px;
            width: 20px;
            line-height: 20px;
        }        
    }
}
