/*page menu*/
.menu-nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 65px;
    padding-left: 20px;
    i{
        height: 20px;
        width: 20px;
        line-height: 20px;
    }
    img{
        margin-left: 65px;
    }
}
.menu-header{
    height: 260px;
}
.menu-photo{
    height: 255px;
    width: 375px;
    margin: 0;
    img{
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}
.menu-1-section{
    height: 1090px;
    position: absolute;
    top: 280px;
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
    padding: 30px 13px 30px 13px;
    z-index: 1;
}
.menu-2-section{
    height: 1200px;
    position: absolute;
    top: 280px;
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    padding: 40px 13px 0 13px;
    z-index: 1;
}
.menu-3-section{
    height: 1090px;
    position: absolute;
    top: 280px;
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
    padding: 40px 13px 30px 13px;
    z-index: 1;
}
.menu-4-section{
    height: 1090px;
    position: absolute;
    top: 280px;
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
    padding: 40px 13px 20px 13px;
    z-index: 1;
}
.menu-section-title{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 30px;
    padding-bottom: 20px;
    h1{
        width: 300px;
        font-style: italic;
        font-weight: 900;   
        margin: 0; 
    }
    i{
        height: 25px;
        width: 25px;
        font-size: 25px;        
        font-weight: 100;
        padding-right: 25px;
    }
}
.article-1{
    -webkit-animation: article 3s linear;
    -moz-animation: article 3s linear;
    animation: article 3s linear;
}
.article-2{    
    -webkit-animation: article 4s linear;
    -moz-animation: article 4s linear;
    animation: article 4s linear;
}
.article-3{
    
    -webkit-animation: article 5s linear;
    -moz-animation: article 5s linear;
    animation: article 5s linear;
}
.menu-article{
    margin: 10px 0 25px 0;
    h2{
        height: 20px;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 0;
        padding-left: 5px;
    }
}
.souligne{
    width: 45px;
    border-top: 3px solid $tertiaire;
    margin-left: 5px;
}
.menu-article-prix{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 320px;
    p{
        margin: 10px 0 10px 0;
    }
}
.menu-article-texte{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 320px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-top: 15px;
    padding: 15px;
    cursor: pointer;
    h3{
        margin: 10px 0 0 0; 
    }    
    .check{
        width: 0;
        transform: scaleX(0);
        transition: transform 1s;
        transform-origin: right;
        i{
            transform: rotate(0deg);
            transition: transform 1s;
        }
    }
    &:hover{
        padding-right: 0;
        width: 335px;
        h3{
            width: 240px;
            white-space: nowrap;
            overflow: hidden;
        }
        .menu-article-prix{
            width: 240px;
            padding: 0px;   
            p{
                width: 220px;
                white-space: nowrap;
                overflow: hidden;
                padding-right: 15px;
            }         
        }
        .overflow{
            text-overflow: ellipsis;
        }
        .check{
            display: flex;  
            justify-content: center;
            align-items: center;
            height: 70px;
            width: 60px;
            background-color: $tertiaire;
            border: 0;
            border-radius: 0 20px 20px 0;
            margin: 0;
            padding: 0;
            transform: scaleX(1);
            outline-style: none;
            i{
            height: 20px;
            line-height: 20px;
            width: 20px;
            border-radius: 100%;
            font-size: 12px;
            color: $tertiaire;
            text-align: center;
            background-color: white;
            transform: rotate(360deg);
            cursor: pointer;
            }
        }
    }
    &:active{
        .check{
            display: flex;  
            justify-content: center;
            align-items: center;
            height: 70px;
            width: 60px;
            background-color: $tertiaire;
            border: 0;
            border-radius: 0 20px 20px 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            transform: scaleX(1);
            outline-style: none;
            i{
            height: 20px;
            line-height: 20px;
            width: 20px;
            border-radius: 100%;
            font-size: 12px;
            color: $tertiaire;
            text-align: center;
            background-color: white;
            transform: rotate(360deg);
            }
        }
    }
}
.menu-button{
    display: flex;
    justify-content: center;
    margin: 50px 0 70px 0;
    -webkit-animation: button-menu 9s ease-in;
    -moz-animation: button-menu 9s ease-in;
    animation: button-menu 9s ease-in;
}
.menu-1-footer{
    position: relative;
    top: 1110px;
    z-index: 2;
}
.menu-2-footer{
    position: relative;
    top: 1195px;
    z-index: 2;
}
.menu-3-footer{
    position: relative;
    top: 1110px;
    z-index: 2;
}
.menu-4-footer{
    position: relative;
    top: 1100px;
}