/*page menu*/
.menu-nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 65px;
    padding-left: 20px;
    i{
        height: 20px;
        width: 20px;
        line-height: 20px;
    }
    img{
        margin-left: 65px;
    }
}
.menu-header{
    height: 260px;
}
.menu-photo{
    height: 255px;
    width: 375px;
    margin: 0;
    img{
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}
.menu-1-section{
    height: 1090px;
    position: absolute;
    top: 280px;
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
    padding: 30px 13px 30px 13px;
    z-index: 1;
}
.menu-2-section{
    height: 1200px;
    position: absolute;
    top: 280px;
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    padding: 40px 13px 0 13px;
    z-index: 1;
}
.menu-3-section{
    height: 1090px;
    position: absolute;
    top: 280px;
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
    padding: 40px 13px 30px 13px;
    z-index: 1;
}
.menu-4-section{
    height: 1090px;
    position: absolute;
    top: 280px;
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
    padding: 40px 13px 20px 13px;
    z-index: 1;
}
.menu-section-title{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 30px;
    padding-bottom: 20px;
    h1{
        width: 300px;
        font-style: italic;
        font-weight: 1000;   
        margin: 0; 
    }
    i{
        height: 25px;
        width: 25px;
        font-size: 25px;        
        font-weight: 100;
        padding-right: 25px;
    }
}
.menu-article{
    margin: 10px 0 25px 0;
    h2{
        height: 20px;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 0;
        padding-left: 5px;
    }
}
.souligne{
    width: 45px;
    border-top: 3px solid $tertiaire;
    margin-left: 5px;
}
.menu-article-texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-top: 15px;
    padding: 15px;
    h3{
        margin: 10px 0 0 0; 
    }
}
.menu-article-prix{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    p{
        margin: 10px 0 10px 0;
    }
    i{
        display: none;
    }
}
.menu-button{
    display: flex;
    justify-content: center;
    margin: 50px 0 70px 0;
}
.menu-1-footer{
    position: relative;
    top: 1100px;
    z-index: 2;
}
.menu-2-footer{
    position: relative;
    top: 1195px;
    z-index: 2;
}
.menu-3-footer{
    position: relative;
    top: 1110px;
    z-index: 2;
}
.menu-4-footer{
    position: relative;
    top: 1100px;
    z-index: 2;
}