/*page menu*/
.menu-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 65px;
    margin: 0 auto;
    padding-left: 20px;
    i{
        height: 20px;
        width: 20px;
        line-height: 20px;
    }
    img{
        margin-left: 65px;
    }
}
.menu-header{
    height: 260px;
    width: 100%;
}
.menu-photo{
    height: 255px;
    width: 100%;
    margin: 0;
    img{
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

.menu-1-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1090px;
    width: 100%;
    position: absolute;
    top: 280px;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    margin: 0 auto;
    padding: 30px 0 40px 0;
    z-index: 1;
}
.menu-2-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;
    width: 100%;
    position: absolute;
    top: 280px;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    padding-top: 40px;
    z-index: 1;
}
.menu-3-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1090px;
    width: 100%;
    position: absolute;
    top: 280px;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    margin-bottom: 0;
    padding: 40px 0 30px 0;
    z-index: 1;
}
.menu-4-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1090px;
    width: 100%;
    position: absolute;
    top: 280px;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    margin-bottom: 0;
    padding: 40px 0 20px 0;
    z-index: 1;
}
.menu-section-title{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 30px;
    padding-bottom: 20px;
    h1{
        width: 300px;
        font-style: italic;
        font-weight: 900;   
        margin: 0; 
        padding-left: 5px;
    }
    .coeur{
        height: 25px;
        width: 25px;
        font-size: 25px;        
        font-weight: 100;
        padding-right: 25px;
    }
}
.article-1{    
    -webkit-animation: article 2s linear ;
    -moz-animation: article 2s linear ;
    animation: article 2s linear ;
}
.article-2{    
    -webkit-animation: article 3s linear ;
    -moz-animation: article 3s linear ;
    animation: article 3s linear ;
}
.article-3{    
    -webkit-animation: article 4s linear ;
    -moz-animation: article 4s linear ;
    animation: article 4s linear ;
}
.menu-article{
    width: 100%;
    margin-top: 10px;
    h2{
        height: 20px;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 0;
        padding-left: 5px;
    }
}
.souligne{
    width: 45px;
    border-top: 3px solid $tertiaire;
    margin-left: 5px;
}
.menu-article-prix{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    .overflow{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        width: 300px;
        transition: width 500ms ease-out;
    }
    :nth-child(2){
        width: 20px;
        font-weight: bold;
        transition: width 500ms ease-out;
    }
    p{        
        margin: 10px 0 10px 0;
    }
    @media all and(min-width: 600px){
        .overflow{
            width: 420px;
        }
        :nth-child(2){
            width: 20px;
        }
    }
}
.menu-article-texte{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 320px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-top: 15px;
    padding: 15px;
    cursor: pointer;
    h3{
        width: 310px;
        margin: 10px 0 0 0;
        white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
        transition: width 500ms ease-out;
    }
    .check{
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        visibility: hidden;
        transition: width 500ms ease-out;
        i{
            visibility: hidden;
            transition: visibility 500ms ease-out;
            transform: rotate(0deg);
            transition: transform 500ms ease-out;
        }
    }
    &:hover{
        width: 335px;
        padding-right: 0;    
        .menu-article-prix{
            .overflow{   
                padding-right: 15px;
                width: 200px;
            }
            :nth-child(2){
                width: 10px;  
            }
        }
        h3{
            width: 150px;
        }
        
        .check{
            display: flex;  
            justify-content: center;
            align-items: center;
            height: 70px;
            width: 60px;
            background-color: $tertiaire;
            border: 0;
            border-radius: 0 20px 20px 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            outline-style: none;            
            visibility: visible;
            i{
            height: 20px;
            line-height: 20px;
            width: 20px;
            border-radius: 100%;
            font-size: 12px;
            color: $tertiaire;
            text-align: center;
            background-color: white;
            transform: rotate(360deg);
            visibility: visible;
            cursor: pointer;
            }
        }
    }
    &:active{
        width: 335px;
        padding-right: 0;    
        .menu-article-prix{
            .overflow{   
                padding-right: 15px;
                width: 200px;
            }
            :nth-child(2){
                width: 10px;  
            }
        }
        h3{
            width: 150px;
        }
        
        .check{
            display: flex;  
            justify-content: center;
            align-items: center;
            height: 70px;
            width: 60px;
            background-color: $tertiaire;
            border: 0;
            border-radius: 0 20px 20px 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            outline-style: none;            
            visibility: visible;
            i{
            height: 20px;
            line-height: 20px;
            width: 20px;
            border-radius: 100%;
            font-size: 12px;
            color: $tertiaire;
            text-align: center;
            background-color: white;
            transform: rotate(360deg);
            visibility: visible;
            cursor: pointer;
            }
        }
    }
    @media all and(min-width: 600px){
        width: 500px;
        h3{
            width: 360px;
        }
        &:active{
            width: 515px;
            .menu-article-prix{
                padding: 0px;  
                .overflow{     
                    width: 360px;          
                    padding-right: 15px;
                }   
                :nth-child(2){
                    width: 20px;
                }    
            }
            h3{
                width: 205px;
            }
            .check{
                    width: 80px;
                }  
        }
    }
}
.menu-button{
    display: flex;
    justify-content: center;
    margin: 50px 0 70px 0;
    -webkit-animation: button-menu 7s ease-in;
    -moz-animation: button-menu 7s ease-in;
    animation: button-menu 7s ease-in;
}
.menu-1-footer{
    position: relative;
    top: 1110px;
    z-index: 2;
}
.menu-2-footer{
    position: relative;
    top: 1195px;
    z-index: 2;
}
.menu-3-footer{
    position: relative;
    top: 1110px;
    z-index: 2;
}
.menu-4-footer{
    position: relative;
    top: 1100px;
}