.button{
    height: 50px;
    width: 220px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 5px 5px 10px $ombre;
    background: linear-gradient($secondaire, $primaire);
    border: none;
    cursor: pointer;
    &:hover{
        background: linear-gradient($lightsecondaire, $lightprimaire);
        box-shadow: 10px 10px 20px $darkombre;
        border: none;
    }
    &:active{
        background: linear-gradient($lightsecondaire, $lightprimaire);
        box-shadow: 10px 10px 20px $darkombre;
        border: none;
    }
}
