.button{
    height: 50px;
    width: 220px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 5px 5px 10px $ombre;
    background: linear-gradient($secondaire, $primaire);
    border: none;
    cursor: pointer;
    &:hover{
        background: linear-gradient($lightsecondaire, $lightprimaire);
        box-shadow: 10px 10px 20px $darkombre;
    }
    &:active{
        background: linear-gradient($lightsecondaire, $lightprimaire);
        box-shadow: 10px 10px 20px $darkombre;
    }
}
.coeur{
    :nth-child(2){
        display: none;  
    }
    &:hover{
        :nth-child(1){
            display: none;
        }
        :nth-child(2){
            display: flex;
        }   
        .fas.fa-heart{
            background-clip: text;
            -webkit-background-clip: text;
            background-image: $coeurdegrade;
            color: transparent;
        }   
    }
    &:active{
        :nth-child(1){
            display: none;
        }
        :nth-child(2){
            display: flex;
        }   
        .fas.fa-heart{
            background-clip: text;
            -webkit-background-clip: text;
            background-image: $coeurdegrade;
            color: transparent;
        }   
    }    
}
