/*Création du loader*/
.chargement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto;
    position: fixed;  
    top: 0;
    left: 0;
    -webkit-animation: chargement 10s ;
    -moz-animation: chargement 10s;
    animation: chargement 10s;  
    z-index: 3;
    visibility: hidden;
}     
.chargement-icon{        
    height: 100px;
    width: 100px;
    position: fixed;
    -webkit-animation: spinner 3s ease-in 3;
    -moz-animation: spinner 3s ease-in 3;
    animation: spinner 3s ease-in 3;
    color: $secondaire;
    padding: 0 0 150px 30px;
    text-align: center;
    font-size: 100px;
    opacity: 0;
}
.chargement-texte{
    height: 20px;
    width: 100px;
    -webkit-animation: chargement-texte 6s linear;
    -moz-animation: chargement-texte 6s linear;
    animation: chargement-texte 6s linear;
    color: $primaire;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 5px 5px 4px $darkombre;
    opacity: 0;
}

/*Animation du loader*/

@keyframes chargement{
    0%{
        visibility: visible;
        background: $darkombre;
    }
    50%{
        visibility: hidden;
        background: $ombre;
    }
    100%{
        visibility: hidden;        
    }
}
@keyframes spinner{
    0%{
        display: none;
        transform: rotate(0deg);
    }
    100%{
        opacity: 1;        
        transform: rotate(360deg);
        display: none;
    }
}
@keyframes chargement-texte{
    0%{
        display: none;
        transform: scale(0);
    }
    50%{
        opacity: 1;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
   
}
/*Chargement page menu*/
@keyframes article{
    0%{
        visibility: visible;
        transform: translateY(100%);
    }
    25%{
        visibility: visible;
        transform: translateY(75%);
    }
    50%{
        visibility: visible;
        transform: translateY(50%);
    }
    75%{
        visibility: visible;
        transform: translateY(25%);
    }
    100%{
        visibility: visible;
        transform: translateY(0);
        
    }
}